<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calidad de Aire</title>
    <link rel="stylesheet" href="css/general.css">
</head>
<body>
    <table id="tbl-calidadaire" class="tabla-informacion">
        <thead>
            <tr>
                <th>averagedOverInHours</th>
                <th>time</th>
                <th>value</th>
                <th>unit</th>
                <th>pollutant</th>
               
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="C:\Users\BBVA\Desktop\calidadaire\calidadaire.js"></script>
    <script src="C:\Users\BBVA\Desktop\calidadaire\lista-calidadaire.js"></script>
</body>
</html>